h1{
    color : black;
}
#home-intro{
    text-align : center;
    border : 3px solid black;
}
#home-intro:hover{
    background-color: rgb(185, 185, 185);
}
#p2{
    color: blue;
}
#nav{
    text-align: center;
    background-color: brown;
    height : 25px;
    padding-top: 5px;
    margin-bottom: 5px;
}
#nav a{
    margin: 0px 5px;
    /*margin : y-axis x-axis*/
    text-decoration: none;
    color : white;
}
#card{
    border: 3px solid black;
    align-items: center;
    margin-top : 5px;
    width : 300px;
    height: 580px;
    margin : 0px auto;
    border-radius: 8px;
}
#card-img{
    margin : 0px auto;
    width : 300px;
    height : 300px;
    align-items: center;
}
img{
    width : 300px;
    height : 300px;
    border-radius: 8px;
}
#action{
    text-align:center;
}
button{
    width : 100%;
}
